<main class="main" id="top">
<app-header></app-header>
  <div class="navbar navbar-vertical navbar-expand-lg">
    <script>
      var navbarStyle = window.config.config.phoenixNavbarStyle;
      if (navbarStyle && navbarStyle !== 'transparent') {
        document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
      }
    </script>
      <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <!-- scrollbar removed-->
      <div class="navbar-vertical-content">
<p-menu [model]="items"  class="navbar-nav flex-column" id="navbarVerticalNav">
  <ng-template pTemplate="item" let-item>
    <a class="p-menuitem-link flex justify-content-between align-items-center p-3">
      <div>
        <span [class]="item.icon"></span>
        <span> {{ item.label }}</span>
      </div>
      <div>
        <span *ngIf="item.label" [class]="item.shortcutClass">{{ item.shortcut }}</span>
        <p-badge *ngIf="item.badge" [value]="item.badge" [severity]="item.badgeSeverity"></p-badge>
      </div>
    </a>
  </ng-template>
</p-menu>
      </div>
    </div>
  </div>
</main>
